Source: ros-lunar-nerian-stereo
Section: misc
Priority: extra
Maintainer: Konstantin Schauwecker <konstantin.schauwecker@nerian.com>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libsdl1.2-dev, ros-lunar-catkin, ros-lunar-cv-bridge, ros-lunar-message-generation, ros-lunar-roscpp, ros-lunar-sensor-msgs, ros-lunar-std-msgs
Homepage: http://wiki.ros.org/nerian_stereo
Standards-Version: 3.9.2

Package: ros-lunar-nerian-stereo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libsdl1.2-dev, ros-lunar-cv-bridge, ros-lunar-message-runtime, ros-lunar-roscpp, ros-lunar-sensor-msgs, ros-lunar-std-msgs
Description: Driver node for SceneScan and SP1 stereo vision sensors by Nerian Vision Technologies
